html
    head
        title
            | Hatchling: Pinmap/title
    body
        div.wrapper
            hgroup
            section.examples
                div.pinmap

        script(data-main="../scripts/app" src="../libs/requirejs/require.js")
